@model List<TourManagement.DTO.Dto_ChiPhi>
@{
    ViewBag.Title = "Chi phí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p style="padding:20px 0px;">
    @Html.ActionLink("< Trở về danh sách đoàn du lịch", "Index/", "DoanDuLich")
</p>

<h2>Quản lý chi phí</h2>
<p>
    Tên đoàn du lịch: @ViewBag.TenDoan
</p>
<p>
    @Html.ActionLink("Thêm chi phí mới", "Create", new {id = ViewBag.DoanId })
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Tìm kiếm theo tên: <input type="text" name="SearchString" />
            <input type="submit" value="Tìm kiếm" class="btn btn-default" /> |
            @Html.ActionLink("Làm mới", "Index")
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã chi phí
            </th>
            <th>
                Loại chi phí
            </th>
            <th>
                Số tiền (VNĐ)
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
               <td>
                   @Html.DisplayFor(modelItem => item.Id)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.TenLoaiChiPhi)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.SoTien)
               </td>
               <td>
                   @Html.ActionLink("Sửa", "Edit/" + @item.Id, @item.Id, item)  |
                   @Html.ActionLink("Xóa", "Delete", new {id = item.Id, IdDoan = item.DoanDuLich_Id})
               </td>
           </tr>
        }
    </tbody>
</table>