@model TourManagement.DTO.Dto_GiaTour

@{
    ViewBag.Title = "Xóa giá tour";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa giá tour du lịch này?</h3>
<div>
    <h4>Tour du lịch: @ViewBag.TenTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Ngày bắt đầu
        </dt>

        <dd>
            @Html.ValueFor(model => model.NgayBatDau, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Ngày kết thúc
        </dt>

        <dd>
            @Html.ValueFor(model => model.NgayKetThuc, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Giá (VNĐ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Đang áp dụng
        </dt>

        <dd>
            @if(Model.DangApDung)
            {
                <p>Có</p>
            }
            else
            {
                <p>Không</p>
            }
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @if (ViewBag.Error != null)
    {
        <h5 style="color:red">@ViewBag.Error</h5>
    }
    <input type="submit" value="Xóa" class="btn btn-default" /> |
    @Html.ActionLink("Trở về danh sách giá tour", "Index/" + Model.Tour_Id, "GiaTour")
</div>
    }
</div>
