@model List<TourManagement.DTO.Dto_GiaTour>

@{
    ViewBag.Title = "Danh sách giá tour";
}
<p style="padding:20px 0px;">
    @Html.ActionLink("< Trở về danh sách tour du lịch", "Index/", "Tour")
</p>
<h2>Giá tour</h2>
<p>
    Tour du lịch: @ViewBag.TenTour
</p>

<p>
    @Html.ActionLink("Thêm giá mới", "Create", new { id = ViewBag.TourId })
</p>

<table class="table">
    <tr>
        <th>
            Mã giá
        </th>
        <th>
            Ngày bắt đầu
        </th>
        <th>
            Ngày kết thúc
        </th>
        <th>
            Giá (VNĐ)
        </th>
        <th>
            Đang áp dụng
        </th>
        <th>
            Hành động
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.ValueFor(modelItem => item.Id)
    </td>
    <td>
        @Html.ValueFor(modelItem => item.NgayBatDau, "{0:dd/MM/yyyy}")
    </td>
    <td>
        @Html.ValueFor(modelItem => item.NgayKetThuc, "{0:dd/MM/yyyy}")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DangApDung)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
