@model List<TourManagement.DTO.Dto_ChiTietDoan>

@{
    ViewBag.Title = "Chi tiết đoàn du lịch";
}

<h2>Chi tiết</h2>

<div>
    <h4>Danh sách khách du lịch</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã khách du lịch
                </th>
                <th>
                    Tên khách du lịch
                </th>
                <th>
                    Ngày tham gia
                </th>
                <th>
                    Hành động
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThamGia)
                </td>

                <td>
                    @Html.ActionLink("Chi tiết", "Detail/" + @item.DoanDuLich_Id, @item.DoanDuLich_Id, item)

                </td>
            </tr>
            }
        </tbody>
    </table>


</div>

