@model List<TourManagement.DTO.Dto_ThongKeChiPhiTour>

@{
    ViewBag.Title = "Thống kê chi phí";
}


<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4>Thống kê chi phí</h4>
    <hr />

    <form asp-action="thongKeChiPhi" method="get">
        <div class="form-actions no-color">
            <p>
                <select name="tourId">
                    @foreach (var item in ViewBag.dsTour)
                    {
                        <option value="@item.Id">@item.TenTour</option>
                    }
                </select>
                <input type="date" name="tuNgay" />
                <input type="date" name="denNgay" />
                <input type="submit" value="Thống kê" class="btn btn-default"

            </p>
        </div>
    </form>
    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            @if (ViewBag.Error != null)
            {
                <h5 style="color:red">@ViewBag.Error</h5>
            }

        </div>
    </div>
</div>

@if (Model != null)
{
    <dl class="dl-horizontal">
        <h4>Tổng quan</h4>
        <hr />
        <dt>
            Chi phí cao nhất
        </dt>

        <dd>
            @ViewBag.tenCpCaoNhat - @ViewBag.cpCaoNhat VNĐ
        </dd>
        <dt>
            Chi phí thấp nhất
        </dt>

        <dd>
            @ViewBag.tenCpThapNhat - @ViewBag.cpThapNhat VNĐ
        </dd>
        <dt>
            Tổng các chi phí
        </dt>

        <dd>
            @ViewBag.tongChiPhi VNĐ
        </dd>
    </dl>
}

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Loại chi phí
            </th>
            <th>
                Tổng tiền (VNĐ)
            </th>



        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoaiChiPhi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TongSoTien)
                    </td>



                </tr>
            }
        }

    </tbody>
</table>