@model TourManagement.DoanDuLich

@{
    ViewBag.Title = "Cập nhật đoàn du lịch";
}

<h2>Cập nhật</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Đoàn du lịch</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <div class="control-label col-md-2">Tên đoàn du lịch</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenDoanDuLich, new { htmlAttributes = new { @class = "form-control", @value = Model.TenDoanDuLich } })
            @Html.ValidationMessageFor(model => model.TenDoanDuLich, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Mã tour</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tour_Id, new { htmlAttributes = new { @class = "form-control", @value = Model.Tour_Id } })
            @Html.ValidationMessageFor(model => model.Tour_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Ngày khởi hành</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayKhoiHanh, new { htmlAttributes = new { @class = "form-control", @value = Model.NgayKhoiHanh } })
            @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Ngày kết thúc</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control", @value = Model.NgayKetThuc } })
            @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Doanh thu</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DoanhThu, new { htmlAttributes = new { @class = "form-control", @value = Model.DoanhThu } })
            @Html.ValidationMessageFor(model => model.DoanhThu, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (ViewBag.Error != null)
            {
                <h5 style="color:red">@ViewBag.Error</h5>
            }
            <input type="submit" value="Cập nhật" class="btn btn-default" />
        </div>
    </div>




</div>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>
