@model List<TourManagement.DTO.Dto_ThongKeLoiNhuanTour>

@{
    ViewBag.Title = "Tạo đoàn du lịch mới";
}


<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4>Thống kê lợi nhuận tour</h4>
    <hr />

    <form asp-action="LoiNhuan" method="get">
        <div class="form-actions no-color">
            <p>
                <select name="tourId">
                    @foreach (var item in ViewBag.dsTour)
                    {
                        <option value="@item.Id">@item.TenTour</option>
                    }
                </select>
                <input type="date" name="tuNgay" />
                <input type="date" name="denNgay" />
                <input type="submit" value="Thống kê" class="btn btn-default"

            </p>
        </div>
    </form>
    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            @if (ViewBag.Error != null)
            {
                <h5 style="color:red">@ViewBag.Error</h5>
            }

        </div>
    </div>
</div>

@if (Model != null)
{
    <dl class="dl-horizontal">
        <h4>Tổng quan</h4>
        <hr />
        <dt>
            Doanh thu
        </dt>

        <dd>
            @ViewBag.doanhThu VNĐ
        </dd>
        <dt>
            Chi phí
        </dt>

        <dd>
            @ViewBag.chiPhi VNĐ
        </dd>
        <dt>
            Lợi nhuận
        </dt>

        <dd>
            @ViewBag.tongLoiNhuan VNĐ
        </dd>
    </dl>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Tên đoàn du lịch
            </th>
            <th>
                Doanh thu
            </th>
            <th>
                Chi phí
            </th>
            <th>
                Số lượng khách
            </th>


        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDoanDuLich)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoanhThu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChiPhi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongKhach)
                    </td>


                </tr>
            }
        }

    </tbody>
</table>