@model List<TourManagement.DTO.Dto_ThongKePhanCongNV>

@{
    ViewBag.Title = "Thống kê nhân viên";
}


<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4>Thống kê nhân viên</h4>
    <hr />

    <form asp-action="thongKeNhanVien" method="get">
        <div class="form-actions no-color">
            <p>
                <select name="nvId">
                    @foreach (var item in ViewBag.dsNV)
                    {
                        <option value="@item.Id">@item.HoTen</option>
                    }
                </select>
                <input type="date" name="tuNgay" />
                <input type="date" name="denNgay" />
                <input type="submit" value="Thống kê" class="btn btn-default"

            </p>
        </div>
    </form>
    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            @if (ViewBag.Error != null)
            {
                <h5 style="color:red">@ViewBag.Error</h5>
            }

        </div>
    </div>
</div>
@if (Model != null)
{
<dl class="dl-horizontal">
    <h4>Tổng quan</h4>
    <hr />
    <dt>
        Tổng số lần phân công
    </dt>

    <dd>
        @ViewBag.soLanPhanCong
    </dd>
</dl>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Tên Tour
            </th>
            <th>
                Số lần phân công
            </th>



        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenTour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLanPhanCong)
                    </td>



                </tr>
            }
        }
    </tbody>
</table>