@model TourManagement.DTO.Dto_Tour

@{
    ViewBag.Title = "Xóa tour du lịch";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa tour du lịch này?</h3>
<div>
    <h4>Tour du lịch: @Model.TenTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã tour
        </dt>

        <dd>
            @Model.Id
        </dd>
        <dt>
            Tên tour
        </dt>
        <dd>
            @Model.TenTour
        </dd>
        <dt>
            Đặc điểm
        </dt>

        <dd>
            @Model.DacDiem
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
